* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: aliceblue;
  color: rebeccapurple;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  background-color: rebeccapurple;
  color: aliceblue;
  border: none;
  padding: .5rem 1rem .5rem;
  font-weight: bold;
}

button.active {
  background-color: aliceblue;
  color: rebeccapurple;
}

nav {
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

#content {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#splash {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

#splash-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img.logo {
  height: 4rem;
}

#splash > h2 {
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  padding-bottom: 1rem;
}

#photogrid {
  display: grid;
  grid-template-areas: "1 2" "3 4";
  gap: 1rem;
  padding: .5rem;
}

.photo-square {
  height: 20vw;
  width: 20vw;
  background-color: darkgrey;
  object-fit: cover;
}

#reviews {
  width: 100%;
  background-color: white;
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#reviews h3 {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}

#review-cards {
  width: 75vw;
  display: flex;
  gap: 1rem;
}

.card {
  background-color: rebeccapurple;
  color: aliceblue;
  padding: 1rem;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.card p {
  font-style: italic;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#contact-title {
  font-weight: bold;
}

#contact-message {
  font-style: italic;
}

#contact-info {
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.contact-label {
  background-color: rebeccapurple;
  color: aliceblue;
  font-weight: bold;
}

#contact-info p {
  padding: 1rem;
  border-radius: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 1rem;
}
